
@media (max-width: 720px)
	.control
		flex-direction: column

	#volumeControl
		margin: 20px 0
		width: 100% !important

	#changeTheme
		font-size: 10px

	.playList-container	
		grid-template-columns: 1fr !important


	input[type=range]#volumeRange
		width: 80%
